@import './base.css';



.grey {
  text-decoration: none;
  color: rgb(38, 40, 39);
  transition: 0.4s;
  padding: 3px;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(154, 86%, 42%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
   border-bottom: 0cap; 
  }
}
